*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    min-height: 100vh;   
    display: flex;
    justify-content: center;  
    align-items: center;
}
  
h2 {
    text-align: center;
}

fieldset {
    width: 25em;
    margin: 20px;
    border: 0 none;
}

label {
    display: flex;
}

#start, #next, #submit, #restart {
    display: block;
    margin: auto;
    text-align: center;

}

#inject-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 25px;
}

