body { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    min-height: 100%;   
    background-image: url("cloud-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

header {
    height: 30px;
    padding: 30px;
}

h2 {
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 8px;
    background: rgba(0,0,0,0.45);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}

fieldset {
    margin: 20px;
    border: 0 none;
    min-width:300px;
    max-width: 350px;
}

label {
    display: flex;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}

input {
    text-align: left;
    box-shadow: none;
}

/* .answer styles each individual form radio input field */
.answer {
    background: rgba(255, 255, 255, 0.75);
    color: black;
    margin: 10px;
    border: none;
    text-align: left;
    padding: 5px;
}

/* styles for all button instances */
.button {
    background-color: white; 
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    width: 145px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    cursor: pointer;
}

#inject-question {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

#inject-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 -5px;
    background: rgba(0,0,0,0.45);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}

#progress, #score {
    margin: 0 25px;
    padding: 8px;
    color: white;
}